﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SISTEMA DE GESTION MONETARIO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SGMMR", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Cuentas/Index" style="font-size:30px"><i class="fas fa-wallet"></i></a></li>
                    <li><a href="/Gastos/Index" style="font-size:30px"><i class="fas fa-dollar-sign"></i></a></li>
                    <li><a href="/Ingresos/Index" style="font-size:30px"><i class="fas fa-hand-holding-usd"></i></a></li>
                    <li><a href="/CategoriaIngresos/Index" style="font-size:30px"><i class="fas fa-money-bill-alt"></i></a></li>
                    <li><a href="/CategoriaGastos/Index" style="font-size:30px"><i class="fas fa-store"></i></a></li>
                    <li><a href="/TipoMonedas/Index" style="font-size:30px"><i class="fas fa-coins"></i></a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SISTEMA DE GESTION MONETARIO</p>
        </footer>
    </div>
    <script src="https://kit.fontawesome.com/32f6ab2d22.js" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
