﻿
@{
    ViewBag.Title = "ErrorExistenciaCuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><i class="fas fa-exclamation-triangle"></i>¡Error!</h2>
<p class="alert alert-danger">
    Para poder realizar esta operación es necesario haber creado al menos una cuenta.
    Para crear una cuanta, @Html.ActionLink("Haga click aquí.", "Create", "Cuentas");
</p>

