﻿@model SGMMR.Models.Ingresos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ingresos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cuenta.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoMoneda.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMoneda.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoriaIngresoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaIngresoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valortotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valortotal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

